a {
	color:#EC008C;
}

h1 {
	background:#EC008C; 
	color:#fff;
	height:64px;
}

.button {
	background:#EC008C;
	color:#fff;	
}
header#main {
    height:162px;
}
#horizontal a {
	background:#EC008C url(../img/lastminute/arrows.png) no-repeat 0 0;
	cursor:pointer;
	border:none;
	border-radius:5px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	-o-border-radius:5px; 
	-ms-border-radius:5px; 
	width:49px;
	height:49px;
	-moz-box-shadow: -2px -1px 5px gray inset, 0px 3px 8px white inset;
	-webkit-box-shadow: -2px -1px 5px gray inset, 0px 3px 8px white inset;
}
#horizontal a.previous {
	background-position:0 0;
}

#horizontal a.next {
	background-position:-49px 0;
}

.price {
	color:#EC008C;
}
form#search {  
    background:#fff;
}

#hotels {
	top:172px;
}
nav#hotel-list a.active {
	background:#EC008C;
	color:#fff;
}

.hotel nav li {
    background:#EC008C;
    color:#fff;
}

#places h3 { 
	color:#EC008C;
}
 
#places #places-distance-output {
	color:#EC008C;
}
.hotel-name {
	color:#EC008C;
}