a {
	color:#EC008C;
}

h1 {
	background:#EC008C; 
	color:#fff;
}

.button {
	background:#EC008C;
	color:#fff;	
}

#horizontal a {
	background-image:url(../img/arrows.png);
}

.price {
	color:#EC008C;
}


nav#hotel-list a.active {
	background:#EC008C;
	color:#fff;
}

.hotel nav li {
    background:#EC008C;
    color:#fff;
}

#places h3 { 
	color:#EC008C;
}
 
#places #places-distance-output {
	color:#EC008C;
}
.hotel-name {
	color:#EC008C;
}