{% include "includes/intro.html" %}
<article id="city-break" class="city-break">
{% include "includes/city-break.html" %}
</article>                   
<article id="flights" class="flights">
	{% include "includes/flights.html" %}
</article>
<article id="hotels" class="hotels">	
{% include "includes/hotels.html" %}         
</article>               
<article id="info" class="info">
{% include "includes/info.html" %}       
</article>
<img src="static/img/ajax-loader.gif" style="visibility:hidden"/>