<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:og="http://ogp.me/ns#" xmlns:fb="http://www.facebook.com/2008/fbml">
<head>
	<meta charset="utf-8">
	<title>Hotels</title>
	<link rel="stylesheet" href="/static/css/hotels.css"/>
	<link rel="stylesheet" href="/static/css/experience.css"/>
	<link rel="shortcut icon" type="image/x-icon" href="http://cdn.lastminute.com/site/favicon.ico?skin=engb.lastminute.com" />
	<link rel="stylesheet" href="http://www.google.com/cse/style/look/default.css" type="text/css" /> 
	<script src="http://widgets.twimg.com/j/2/widget.js"></script>
</head>
<body class="state-default">
	<div id="map-visualization">
		<div id="pano"></div>
		<div id="map_canvas"></div>
	</div>
	<article id="shell">
		<header id="main">                     
   			<h1><img src="/static/img/site_master_top_logo.gif" alt="last minute" /></h1> 
			{% comment %}<button id="fb-dialog-send" type="submit" class="button" value="">Talk to your Travel buddies</button>{% endcomment %} 
			
			<section id="controls">                                    
				<button id="my-bookmarks" class="button">My Bookmarks</button>
				<button id="less-more" class="button">Less</button>
				<button id="map-streetview" class="button">Map</button>
				<button id="fb-dialog-send" class="button">Share</button>			
			</section>
		</header>
		
		<section id="bookmarks">
			<header>
				<h2>My Bookmarks</h2>
            </header>								
			<a href="#" class="url" target="_blank" rel="external"></a>
		</section>			
		{% include "includes/form.html" %}
		
		<div id="content">
			
			<section id="hotels" class="rc">
				<header>
					<h2>Hotels</h2>
				</header>
				<div class="results">
				
				</div>
				<nav id="hotel-list">

				</nav>
			</section>
			
			<nav id="horizontal">
				<a href="#" class="previous"><span>Previous</span></a>
				<a href="#" class="next"><span>Next</span></a>
			</nav>
					    
			<section id="weather" class="rc">
				<header>
					<h2>Weather</h2> 
				</header>
				<div class="results">					    
				</div>
			</section>
			
			<section id="guardian" class="rc">
				<header>
					<h2>The Guardian</h2> 
				</header>
				<div class="results">					    
				</div>
			</section>

			{% comment %}
			<section id="twitter-news">
				<script type="text/javascript">
					var destination = "New York";
					var twitterSearch = new TWTR.Widget({
						  lang:'en',
						  version: 2,
						  type: 'search',
						  search: destination+' hotels OR restaurants since:2011-07-16 :)',
						  interval: 6000,
						  title: "What's being said about...",
						  subject: destination,
						  width: 240,
						  height: 300,
						  theme: {
						    shell: {
						      background: '#EC008C',
						      color: '#ffffff'
						    },
						    tweets: {
						      background: '#ffffff',
						      color: '#444444',
						      links: '#EC008C'
						    }
						  },
						  features: {
						    scrollbar: true,
						    loop: true,
						    live: true,
						    hashtags: true,
						    timestamp: true,
						    avatars: false,
						    toptweets: true,
						    behavior: 'default'
						  }
						}).render().start()
                </script> 
				
			</section>
			{% endcomment %} 
         </div>
		 
	</article>
	<div id="loading">
		<div id="mask"></div>
		<div id="loading-message"><h3>Starting new story...</h3></div>
	</div>
	<script src="http://connect.facebook.net/en_US/all.js"></script>
	<div id="fb-root"></div>
	<script src="/static/js/mootools-core-1.3.2.js"></script>
	<script src="/static/js/mootools-more-1.3.2.1.js"></script>	
	<script src="/static/js/namespace.js"></script>
	<script src="/static/js/log.js"></script>	
	<script src="/static/js/mashup.js"></script>
	<script src="/static/js/google.places.js"></script>
	<script src="/static/js/google.map.streetview.js"></script>
	<script src="/static/js/experience.js"></script>
	<script src="/static/js/ajax-submit.js"></script>	
	<script type="text/javascript">
	//<![CDATA[ 

	    RIA.map = null;
		RIA.geocoder = null;
	    RIA.sv = null;
		RIA.currentDestination = "{{ destination }}";
		// Go to Times Square
	   	RIA.InitExperience = new RIA.Experience({
			geolocation:{lat:40.757920208794026, lng:-73.98588180541992}, 
			bookmarks:{% for bookmark in bookmarks %}{% if forloop.first %}[{% endif %}'{{ bookmark }}'{% if forloop.last %}]{% else %},{% endif %}{% endfor %},
			maptype:"{{ maptype|default:'streetview' }}",
			contenttype:"{{ contenttype|default:'maximized' }}"
		});
	    RIA.InitAjaxSubmit = new RIA.AjaxSubmit();
		(function() {
			var e = document.createElement('script');
			e.type = 'text/javascript';
			e.src = document.location.protocol+'//connect.facebook.net/en_US/all.js#xfbml=1';
			e.async = true;
			document.getElementById('fb-root').appendChild(e);
		}());
		{% comment %} Include Facebook SDK, for tracking and XFBML Like Button dynamic creation {% endcomment %}
		window.fbAsyncInit = function() {
			FB.init({
				appId:'107619156000640',
				status: true,
				cookie: true,
				xfbml: true			
			});	
 			
		};	
        
		function loadScript() {
		  var script = document.createElement("script");
		  script.type = "text/javascript";
		  script.src = "http://maps.google.com/maps/api/js?sensor=false&libraries=geometry,panoramio&callback=RIA.InitExperience.mapInitialize";
		  document.body.appendChild(script);
		}
        window.addEvent("domready", function() {
			loadScript();
		});
	//]]>
	</script>
</body>
</html>