#hotels.coverflow {
	width:100%;
	
}


#hotels.coverflow #horizontal,
#hotels.coverflow nav#hotel-list
{
	display:none;
}

#hotels.coverflow .results-wrapper {
	background:none;
	width:10000em;
	overflow:auto;            
	box-shadow:none;  
	-webkit-box-shadow:none;  
	-moz-box-shadow:none;  
	-o-box-shadow:none;  
	-ms-box-shadow:none;  
}

#hotels.coverflow .hotel {
	-webkit-transition-property: -webkit-transform;
	-webkit-transition-duration: .8s;
	-webkit-transform: rotateY(40deg);
}