#hotels { 
	background:none;
	position:relative;
	width:955px;
	min-height:120px;
	padding:10px;
	margin:0 0 10px 0;
	background:rgba(0,0,0,0.2);
	border-radius:10px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	-o-border-radius:10px;
	-ms-border-radius:10px;
	
}    

#hotels h2 {
	display:none;
}

#hotels .results-wrapper {
	background:#fff;
	width:955px;
	height:100%;
	min-height:120px;
	overflow:hidden;  	
	-moz-box-shadow:0px 3px 8px white inset;
	-webkit-box-shadow:40px 40px 40px #fff inset;
	
}
#hotels .results {
	width:100%;
}                   

#hotels nav.controls {
	position:absolute;
	top:10px;
	right:10px;
}    
              
nav#hotel-list {
	padding:20px;
	overflow:hidden;
}
nav#hotel-list a {
	display:block;
	float:left;
	text-align:center;
	padding:5px 2px;
	
	width:19px;

}

nav#hotel-list a.active {
	/* See brand CSS */
}      

#hotels .details {
	margin:20px 0 0 0;
}               

#hotels .details dl {
	margin:10px 0 0 0;
}

#hotels .details p {
	margin:0 0 10px 0;
}

#hotels.streetview .hotel .rating,
#hotels.streetview .hotel .details,
#hotels.streetview .hotel .photos {
	display:none;
}	
.hotel {
	width:895px;
	display:block;
	float:left; 
	padding:20px 20px 20px 40px; 
}
                        
.hotel header {
	overflow:hidden;
}

.hotel nav {
	margin-top:20px;
} 
.hotel nav li {
	display:inline-block;
	padding:10px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	-webkit-border-top-left-radius:10px;
	-webkit-border-top-right-radius:10px;
	-moz-border-top-left-radius:10px;
	-moz-border-top-right-radius:10px;
	-o-border-top-left-radius:10px;
	-o-border-top-right-radius:10px;
	-ms-border-top-left-radius:10px;
	-ms-border-top-right-radius:10px; 
	
	-moz-box-shadow: 0px 3px 8px white inset;
	-webkit-box-shadow: 0px 3px 8px white inset;
}   
.hotel h3 {
	font-size:2em;
}                    

.hotel sup {
	line-height:20px;
}
.hotel .description,
.hotel .address {
	margin:0 0 10px 0;
}

.hotel .room-and-rates {
	margin:20px 0 20px 0;
}                     

.hotel .value-adds {
	margin:0 0 20px 0;
}                     

.hotel a.button {
	display:inline-block;
	font-size:1.3em;    
	text-decoration:none;
}
.hotel .room-and-rates a:hover {
	text-decoration:none;
}
.hotel h3 .from,
.hotel h3 .stars {
	font-size:0.7em;
}
.hotel h3 .count {
	display:block;
	float:right;
	margin:10px 115px 0 0;
	font-size:0.7em;	
}

.hotel .photos {
	float:left;
	margin:20px 20px 0 0;
}


/*
*	Minimized
*/
#hotels.minimized {
	height:120px;
}

#hotels.minimized .rating,
#hotels.minimized .photos,
#hotels.minimized .nearby
#hotels.minimized .room-and-rates,
#hotels.minimized .room-and-rates ul,
#hotels.minimized .room-and-rates ul li,
#hotels.minimized .value-adds,
#hotels.minimized a.button,
#hotels.minimized .details,
#hotels.minimized nav#hotel-list {
	display:none;
}  


h3.no-results {
	display:block;
	height:50px;
	font-size:2em;
	padding:20px 20px 20px 40px;
}

.hotel-booking-form button {
	font-size:1.3em;
}

#save-share-places {
	padding:5px;
} 

#filters {
	padding:5px;
	position:absolute;
	bottom:9px;
	right:14px;
}                  
                
#hotels.minimized #save-share-places {
	position:absolute;
	bottom:9px;
	left:9px;
} 

#hotels.minimized #filters {
	position:absolute;
	bottom:9px;
	right:14px;
}