
/*
* 	Places
*/
#places {
	display:none;     
	overflow:none;
	-webkit-border-radius:0 0 10px 10px;   
}  


#places h2 {
	display:inline;
	cursor:pointer;
}
#places fieldset {        
	margin:0 0 10px 0; 
}
#places h3 { 
	color:#EC008C;
	display:block;
	font-size:1.2em;
	margin:0 0 5px 0;
}

#places li {
	display:block;
	float:left;
	margin:0 10px 3px 0;  
}

#places #place-radius {
	position:relative;
}
           
#places #places-distance-range {
	width:150px;
}           

#places #places-distance-output,
.hotel-name {
	color:#EC008C;
}
#places #place-radius .min {
	position:absolute;
	bottom:0px;
	left:5px;
} 

#places #place-radius .max {
	position:absolute;
	bottom:0px;
	right:5px;
}
