
/*
* 	Places
*/
#places {
	background:none;
	display:none;     
	overflow:none;
	position:absolute;
	top:302px;
	left:165px; 
	
	padding:10px;
	margin:0 0 10px 0;
	background:rgba(0,0,0,0.2);
	border-radius:10px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	-o-border-radius:10px;
	-ms-border-radius:10px;
}  

#places div {
	background:#fff;
	border-radius:5px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	-o-border-radius:5px;
	-ms-border-radius:5px;
	padding:20px;
}
#places h2 {
	display:inline;
	cursor:pointer;
}
#places fieldset {        
	margin:0 0 10px 0; 
}
#places h3 { 
	color:#EC008C;
	display:block;
	font-size:1.2em;
	margin:0 0 5px 0;
}

#places li {
	display:block;
	float:left;
	margin:0 10px 3px 0;  
}

#places #place-radius {
	width:100%;
	position:relative;
}
           
#places #places-distance-range {
	width:150px;
}           

#places #places-distance-output,
.hotel-name {
	color:#EC008C;
}
#places #place-radius .min {
	position:absolute;
	bottom:14px;
	left:0px;
} 

#places #place-radius .max {
	position:absolute;
	bottom:14px;
	left:122px;
}


#toggle-places {
	border:none;    
	background-image:none;
	background-color:#ccc;
	color:#000;
	font-size:1.5em;
	text-align:center;
	padding:0px 2px 2px 3px;
	text-shadow: #fff 1px 1px 0px;
	border-radius:3px;    
	-webkit-border-radius:3px;    
	-moz-border-radius:3px;    
	-o-border-radius:3px;    
	-ms-border-radius:3px;    
	position:absolute;
	top:20px;
	right:20px;	
	width:20px;
}