
/*
* 	Places
*/
#places {
	top:302px;
	left:165px; 	                       
	z-index:12;
}  

#places div {
	background:#fff;
	border-radius:5px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	-o-border-radius:5px;
	-ms-border-radius:5px;
	padding:20px;
}
#places h2 {
	display:inline;
	cursor:move;
}
#places fieldset {        
	margin:0 0 10px 0; 
}
#places h3 { 
	display:block;
	font-size:1.2em;
	margin:0 0 5px 0;
}

#places li {
	display:block;
	float:left;
	margin:0 10px 3px 0;  
}

#places #place-radius {
	width:100%;
	position:relative;
}
           
#places #places-distance-range {
	width:150px;
}           

#places #places-distance-output,
.hotel-name {
	/* See brand CSS */
}
#places #place-radius .min {
	position:absolute;
	bottom:14px;
	left:0px;
} 

#places #place-radius .max {
	position:absolute;
	bottom:14px;
	left:122px;
}


#toggle-places {

}