#social { 
	display:none;   
	background:#fff;
	width:auto;
	position:fixed;
	left:20%;
	bottom:0px;
	padding:10px 10px 0; 
	z-index:0;
}

#social div { 
	float:left;
	width:60px;
	margin:0 20px 0 0;
}
#social div:last-child {
	margin:0;
}