<form id="search" method="post" action="/experience">
	<fieldset>					
		<input id="destination" type="text" value="{{ destinationDisplayName }}" />
		<label for="number_of_nights">for</label>
		<input id="number_of_nights" type="text" value="1{{ number_of_nights }}" />                                                        
		<label for="arrival_date">night(s), arriving</label>
		<input id="arrival_date" type="text" value="2011-09-01{{ arrival_date }}" />
		{% comment %}<img alt="" src="http://cdn.lastminute.com/site/ico_calendar.gif?skin=engb.lastminute.com" />{% endcomment %}
		<label for="priceMax">for less than &#163;</label>
		<input id="priceMax" type="text" value="{{ price }}" />
		<button id="submit-search" type="submit" class="button">SEARCH</button>   		
	</fieldset>
	<fieldset id="search-options">
		<a href="#">OPTIONS</a>
	</fieldset>
</form>