{% for hotel in hotels %}
<div class="hotel" data-destination="{{ destination }}" data-locationid="{{ hotel.locationid }}" data-counter="{{ forloop.counter }}" data-address="{{hotel.address}}" data-name="{{hotel.name|safe}} {% if destination == "cheap" or destination == "expensive" or destination == "" %}({{ hotel.destination }}){% endif %}" data-price="&#163;{{hotel.price|safe}}" data-latlng="{{ hotel.latlng }}">
	<header>
		{% if hotel.thumbnail %}
			{{ hotel.thumbnail|safe }}
		{% endif %}
		<h3><span class="count">{{ forloop.counter }} of {{hotels|length}}</span>{{hotel.name|safe}} {% if destination == "cheap" or destination == "expensive" or destination == "" %}({{ hotel.destination }}){% endif %} : <span class="price">&#163;{{ hotel.price|safe }}</span></h3>
		{% comment %}<button id="hotel-drop-pin-{{ forloop.counter }}" type="submit" value="" class="drop-pin button">Bookmark</button>{% endcomment %}
		<a href="#" class="drop-pin"><img src="http://chart.apis.google.com/chart?chst=d_map_xpin_letter&amp;chld=pin_star||EC008C|FFFFFF|FFFF00" alt="{{ hotel.name }}"/></a>
    </header>
    <div class="rating">
		{{ hotel.rating }}
		
	</div>
	<div class="photos">
		<img src="http://m.travelocity.com/images/new_york/hotel/0/008667/Exterior_E_1.jpg" width="200" height="200" alt="" />
		{% if hotel.photo1 %}
			{{ hotel.photo1|safe }}
		{% endif %}          
		{% if hotel.photo2 %}
			{{ hotel.photo2|safe }}
		{% endif %}
		{% if hotel.photo3 %}
			{{ hotel.photo3|safe }}
		{% endif %}
	</div>
	<div class="nearby">	
		
	</div>	
	<div class="room-and-rates">
		<form name="roomselection" method="get" action="http://globaltrips.lastminute.com/trips/productDetails/addToCart">
			<input type="hidden" name="pTxId" value="{{ hotel.pTxId }}" />
			<input type="hidden" name="checkInDate" value="{{ hotel.checkInDate }}" />
			<input type="hidden" name="checkOutDate" value="{{ hotel.checkOutDate }}" />
			<input type="hidden" name="guestCounts" value="{{ hotel.guestCounts }}" />
			<input type="hidden" name="guestCodes" value="{{ hotel.guestCodes }}" />
			<input type="hidden" name="guestCounts" value="{{ hotel.guestCounts }}" />
			<input type="hidden" name="city" value="{{ hotel.city }}" />
			<input type="hidden" name="configId" value="{{ hotel.configId }}" />
            <input type="hidden" name="numRooms" value="{{ hotel.numRooms }}" />
            <input type="hidden" name="dest" value="{{ hotel.dest }}" />
            <input type="hidden" name="path" value="{{ hotel.path }}" />
            <input type="hidden" name="hotelRequestId" value="{{ hotel.hotelRequestId }}" />
            <input type="hidden" name="mappingName" value="{{ hotel.mappingName }}" />
            <input type="hidden" name="pageId" value="{{ hotel.pageId }}" />
            <input type="hidden" name="action" value="{{ hotel.action }}" />
		</form>
	</div>
	<div class="details">
		<p class="description">
			{{ hotel.description }}
		</p>
		<dl>
			<dt>Address:<dt>
			<dd class="address">{{hotel.address|safe}}<dd>
			<dt>Phone:<dt>
			<dd>{{hotel.phone}}<dd>
			<dt>Price:<dt>
			<dd>&#163;{{hotel.price|safe}}<dd>
		</dl>
	</div>
</div>      
{% endfor %}