<section id="places" class="rc">
	<div>
		<header>
			<h2>Places</h2>
		</header>
		<form>		
			<fieldset id="place-radius">   
				<label for="range">Show places within <span id="places-distance-output">500m</span> of <span class="hotel-name">the current hotel</span></label><br/><br/>
				<span class="min">100m</span><input id="places-distance-range" type="range" min="100" max="1000" value="500" step="100" /><span class="max">1Km</span>
			</fieldset>
			<fieldset>
				<h3>Food &amp; Drink</h3>
				<ul>
					<li>
						<img src="http://chart.apis.google.com/chart?chst=d_map_pin_icon&amp;chld=restaurant|FFFFFF" />
						<input type="checkbox" id="restaurants" value="restaurant" data-value="restaurant" data-function=""/>
						<label for="restaurants" data-text="Restaurants">Restaurants</label>
					</li>
					<li>
						<img src="http://chart.apis.google.com/chart?chst=d_map_pin_icon&amp;chld=bar|FFFFFF" />
						<input type="checkbox" id="bars" value="bar|cafe" data-value="bar|cafe" />
						<label for="bars" data-text="Bars &amp; Caf&eacute;s">Bars &amp; Caf&eacute;s</label>
					</li>
					<li>
						<img src="http://chart.apis.google.com/chart?chst=d_map_pin_icon&amp;chld=shoppingcart|FFFFFF" />
						<input type="checkbox" id="supermarkets" value="grocery_or_supermarket" data-value="grocery_or_supermarket" />
						<label for="supermarkets" data-text="Supermarkets">Supermarkets</label>
					</li>
					<li>
						<img src="http://chart.apis.google.com/chart?chst=d_map_pin_icon&amp;chld=snack|FFFFFF" />
						<input type="checkbox" id="takeaway" value="meal_delivery|meal_takeaway" data-value="meal_delivery|meal_takeaway" />
						<label for="takeaway" data-text="Takeaways">Takeaways</label>
					</li>			
				</ul>
			</fieldset>
			<fieldset>
				<h3>Shopping</h3>
				<ul>
					<li>
						<img src="http://chart.apis.google.com/chart?chst=d_map_pin_icon&amp;chld=shoppingbag|FFFFFF" />
						<input type="checkbox" id="department_store" value="department_store" data-value="department_store" />
						<label for="department_store" data-text="Department stores">Department stores</label>
					</li>
					<li>
						<input type="checkbox" id="clothing_store" value="clothing_store" data-value="clothing_store" />
						<label for="clothing_store" data-text="Clothes">Clothes</label>
					</li>
					<li>
						<input type="checkbox" id="shoe_store" value="shoe_store" data-value="shoe_store" />
						<label for="shoe_store" data-text="Shoes">Shoes</label>
					</li>
					<li>
						<input type="checkbox" id="book_store" value="book_store" data-value="book_store" />
						<label for="book_store" data-text="Books">Books</label>
					</li>
					<li>
						<input type="checkbox" id="atm" value="atm|bank" data-value="atm|bank" />
						<label for="atm" data-text="Banks &amp; ATMs">Banks &amp; ATMs</label>
					</li>
					
				</ul>
			</fieldset>
			<fieldset>
				<h3>Attractions</h3>
				<ul>
					<li>
						<img src="http://chart.apis.google.com/chart?chst=d_map_pin_icon&amp;chld=location|FFFFFF" />
						<input type="checkbox" id="museums" value="museum|park|zoo" data-value="museum|park|zoo" />
						<label for="museums" data-text="Museums, Parks, Zoos...">Museums, Parks, Zoos...</label>
					</li>
				</ul>
			</fieldset> 
			<fieldset>
				<h3>More</h3>
				<ul>
					<li>
						<input type="checkbox" id="photos" value="" />
						<label for="photos">Other people's Photos</label>
					</li>
				</ul>
			</fieldset>
			
	    </form>		
	</div>
</section>	