<div id="TA_excellent830" class="TA_excellent">
<ul id="puZR8LuBy4" class="TA_links DGH99y6TES8">
            <li id="FcgAUWnBy5Q" class="yZwlHX"><a target="_blank" href=http://www.tripadvisor.co.uk/Hotel_Review-g60763-d93569-Reviews-The_Belvedere-New_York_City_New_York.html>The Belvedere</a> rated "excellent" by 975 travellers</li>
      </ul>
  </div>
<script src="http://www.jscache.com/wejs?wtype=excellent&amp;uniq=830&amp;locationId=93569&amp;lang=en_UK" type="text/javascript"></script>

<div id="TA_selfserveprop942" class="TA_selfserveprop">
<ul id="ygFk4SaNyqp" class="TA_links VDnJFGI58Ntv">
            <li id="kJyviSw6Ej" class="2zkqgjv">2356 reviews of <a target="_blank" href="http://www.tripadvisor.com/Hotel_Review-g60763-d93569-Reviews-The_Belvedere-New_York_City_New_York.html">The Belvedere</a> in New York City</li>
      </ul>
  </div>
<script src="http://www.jscache.com/wejs?wtype=selfserveprop&amp;uniq=942&amp;locationId=93569&amp;lang=en_US&amp;rating=true&amp;nreviews=5&amp;writereviewlink=true&amp;popIdx=true&amp;iswide=false&amp;linkt=0"></script>